@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --grey-background: #222;
  --whiteCol: #f4f4f4;
  --greenCol: #44d62c;
  --body-text: #999;
  --font-weight-bold: 400;
  --color-warning: #ffc107;
}

body {
  background: var(--grey-background);
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  background-color: #000000;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px var(--greenCol);
  user-select: none;
}

.logo {
  width: 35px;
  z-index: 10;
}

header .nav-list,
header .nav-links {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  list-style: none;
}

header .nav-links a {
  text-decoration: none;
  color: var(--body-text);
}

header .icons,
header .icons span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.5rem;
  color: var(--body-text);
}

header .icons span {
  cursor: pointer;
}

.nav-list .nav-links a:hover,
.nav-list .icons span:hover {
  color: var(--whiteCol);
}

#close--Btn,
#search--Btn {
  z-index: 10;
}

header .search-Box {
  position: absolute;
  display: flex;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  align-items: center;
  padding: 0 30px;
  right: -100;
  transition: right 500ms ease;
}

.search-Box input {
  color: var(--whiteCol);
  padding: 0 3.5%;
  background: #222;
  margin: 0 10%;
  width: 100%;
  font-size: 1em;
  height: 3.74rem;
  outline: none;
  border: none;
}

header .search-Box {
  display: none;
}

header .search-Box.active {
  display: flex;
  right: 0;
}

.plc-Search {
  position: absolute;
  margin-left: 10.5%;
  color: var(--body-text);
}

#close--Btn,
#search--Btn.active {
  display: none;
}

#close--Btn.active {
  display: flex;
}

/* Cart Box */
.cartContainer ul li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--whiteCol);
}
.cartContainer.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  max-width: 16rem;
  min-width: 16rem;
  left: auto;
  top: 3rem;
  right: 4rem;
  border: 2px solid #555;
  border-radius: 12px;
  margin: 0 0.175rem;
  padding: 1rem;
  background-color: var(--grey-background);
}

.arrow-cart {
  position: absolute;
  top: -1.1rem;
  left: 13.7rem;
  font-size: 30px;
  color: var(--body-text);
}

.cart-message {
  color: #888;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  margin: 0 1.25rem;
  padding: 1rem 0;
  text-align: center;
}

.cart-items li {
  gap: 10px;
  padding: 0.5rem 0;
  border-top: 1px solid #555;
  display: flex;
  align-content: center;
  font-size: 0.875rem;
  font-family: "Courier New", Courier, monospace;
}

.material-symbols-outlined {
  color: #fff;
  font-weight: 200;
}

.cart-items li a {
  display: block;
  text-align: center;
  font-weight: 200;
}
.cart-items li :hover {
  color: var(--greenCol);
  cursor: pointer;
}

.cartContainer {
  display: none;
}

/* -------------------------Header Ends--------------------------------- */

/* Hero Section  */
.notificationMsg {
  position: relative;
  top: 3.5rem;
  color: var(--whiteCol);
  text-align: center;
  /* border: 2px solid black; */
  z-index: -5;
  font-weight: 400;
  padding: 0.7rem 0;
  background: #555;
}
.sticky {
  position: fixed;
  z-index: 10;
}
/* ------------------------------------------- */

.mainSection {
  position: relative;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.5rem;
  position: relative;
  user-select: none;
  gap: 5px;
}

.content .heading h1 span {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 3.5%;
  left: 50%;
  font-size: 3.5rem;
  transform: translate(-50%, -50%);
  padding-top: 1.3rem;
}

.content .heading p,
.learnMore,
.arrow {
  text-transform: uppercase;
  font-size: 1.7rem;
  position: absolute;
  top: 6%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  margin-top: 1.4rem;
  /* padding-top: 1.4rem; */
}

.content .heading .learnMore,
.arrow {
  text-transform: capitalize;
  top: 8%;
  font-size: 1.3rem;
}

.content .heading .arrow {
  margin-left: 3em;
  color: var(--greenCol);
}
.learnMore:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*------- */

.heading_two .box p {
  color: black;
  background-color: #ff9c07;
  text-transform: uppercase;
  margin: 0 auto;
  position: absolute;
  text-align: left;
  top: 35.6%;
  left: 50%;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  transform: translate(-50%, -50%);
  padding: 0.4rem 0.8rem;
  line-height: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box span {
  font-weight: 700;
  padding-right: 0.9rem;
  font-size: 0.7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.heading_two h1 span,
.heading_three h1 span {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 38%;
  left: 50%;
  font-size: 3.5rem;
  transform: translate(-50%, -50%);
  padding-top: 1.3rem;
}

.heading_two p,
.razerLM,
.arrowLM,
.reserve,
.arrowRN,
.heading_three p,
.arrowQT,
.shopQT,
.shopMW,
.arrowMW {
  text-transform: uppercase;
  font-size: 1.7rem;
  position: absolute;
  top: 40%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  /* padding-top: 1.4rem; */
  margin-top: 1.4rem;
}

.razerLM,
.reserve,
.arrowLM,
.arrowRN,
.shopQT,
.arrowQT,
.shopMW,
.arrowMW {
  top: 41.4%;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.razerLM,
.arrowLM,
.arrowQT,
.shopQT {
  left: 42%;
}

.reserve,
.arrowRN,
.shopMW,
.arrowMW {
  left: 55%;
}

.arrowLM,
.arrowRN,
.arrowQT,
.arrowMW {
  margin: 22px 0 0 4.6%;
  color: var(--greenCol);
}

.arrowRN,
.arrowMW {
  margin-left: 5.1%;
}
/* =------ -------------- ------- --------*/

.heading_three h1 span {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 70.5%;
  left: 50%;
  right: -15%;
  text-align: center;
  font-size: 3.5rem;
  transform: translate(-50%, -50%);
  padding-top: 1.3rem;
}

.heading_three p,
.shopMW,
.shopQT,
.arrowQT,
.arrowMW {
  text-transform: uppercase;
  font-size: 1.7rem;
  position: absolute;
  top: 72%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  padding-top: 1.4rem;
  margin-top: 1.4rem;
}

.shopQT,
.arrowQT,
.shopMW,
.arrowMW {
  top: 74%;
  text-transform: capitalize;
  font-size: 1.3rem;
}

.shopQT,
.arrowQT {
  left: 42%;
}

.shopMW,
.arrowMW {
  left: 55%;
  margin-left: 3em;
}

.arrowQT,
.arrowMW {
  margin: 22px 0 0 4.9%;
  color: var(--greenCol);
}

.arrowMW {
  margin-left: 12.7%;
}

/* ______________________GIMG LAYOUT__________________________ */
.imgLayout {
  margin-top: 5px;
  position: absolute;
  /* height: 100vh; */
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 10px;
}
.column {
  height: 90vh;
}
.column img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.leftImgHead {
  position: relative;
  top: -100%;
  color: white;
  margin: 0;
  text-align: center;
}

.leftImgHead h1 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}
